:root {
  --title-font-size:26px;
}

@font-face {
  font-family: Outfit;
  src: url("../fonts/Outfit-modified.ttf");
}
@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather-modified.ttf");
}


* {
   font-family: Outfit, sans-serif;
}


html {


}

body {
  
  font-weight: 400;
  padding: 5px calc(10px + 1%);
  background-color: #fcfcfc;
  max-width: 1300px;
  margin: 0 auto;

  background: linear-gradient(white, white 90%, #c4c4c4 100%);
  background-attachment: fixed;
  height: 100%;
  
}
/* 
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(white, white 90%, #c4c4c4 100%);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  width:5px;
  border-radius: 4px;
  background-clip: padding-box;
  border:0px;
}

::-webkit-scrollbar-thumb:hover {
  border:2px solid #c4c4c4;
} */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background:  #c4c4c4;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
    border: 0;
}

::-webkit-scrollbar-track {
   background: linear-gradient(white, white 90%, #c4c4c4 100%);
}


@media only screen and (max-width: 600px) {
  :root {
      --title-font-size: 20px;
      --section-title-font-size: 20px;
      --runes-font-size: 12px;
      --section-text-font-size: 16px;
  }
  #title{
    padding:5px 2px;
  }
  #left, #right {
    margin:0 2%;
    font-weight:bold;
  }
  button {
     padding-left:10px;
     padding-right:10px;
  }
}
@media only screen and (min-width: 600px) {
  :root {
      --section-title-font-size: 24px;
      --title-font-size: 26px;
      --runes-font-size: 26px;
      --section-text-font-size: 18px;
  }
  #title{
    padding:5px;
  }
  #left, #right {
    margin:0 4%;
  }
  button {
     padding-left:20px;
     padding-right:20px;
  }
}

#title {
  display:flex;
  flex-direction:row;
   background-color: #3679f5;
   font-size: var(--title-font-size);
   margin: 10px 0;
   color: #fff;
   border-radius: 4px;
   text-align: center;
}

#left, #right {
  font-size:var(--runes-font-size);
  flex-grow:1;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#translation-container {
   display: flex;
   flex-direction: column;
    margin-bottom: 30px;
}

#input-container {
   display: flex;
  flex-direction: row;
}

.input-box {
   flex-grow: 1;
   height: calc(1em + 0.5em + 14px + 4px);
   min-height: 1em;
   padding-top: 10px;
   padding-bottom: 0.5em;
   padding-left:10px;
   padding-right:10px;
   font-size: 16px;
   border: 2px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: none;
   overflow: hidden;
}

#translation-input {
}

button {
   margin-left: 10px;
   height: calc(1em + 0.5em + 14px + 4px);
   padding-top: 10px;
   padding-bottom: 0.5em;
   font-size: 16px;
   background-color: #3679f5;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:active {
   background-color: #1f4e9d;
}

#translation-output {
   margin-top: 10px;
}

#warning {
  display:none;
  color:crimson;
  font-size: 18px;
  margin-top: 10px;
  background-color: rgba(220, 20, 60, 0.2);
  padding:10px;
  border-radius:4px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#pronunciation-guide-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#feedback-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.section-title-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: transform 2s;
}

.section-expand {
  position: relative;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  padding:0;
  height: 30px;
  width: 30px;
}

.expand-arrow {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url('../icons/up_arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
}

.section-title {
  color: grey;
  font-size: var(--section-title-font-size);
  margin-bottom: 2px;
}

.section-text {
  font-size: var(--section-text-font-size);
  color: grey;
  transition: opacity 0.2s, transform 0.5s;
  z-index: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(-20px);
}

.subsection-title {
  margin-bottom: 8px;
  margin-top: 6px;
  font-size: 18px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
}

.subsection-text {
  z-index: -1;
  margin-bottom: 30px;
}

hr {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.pillar-container {
  display: flex;
  flex-direction: column;
  width:max-content;
  max-width: 90%;
  margin:20px auto;
}

.pillar-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 1px 20px;
  align-items: center;
}

.pillar-row:hover {
  background-color: #f0f0f0;
}

.pillar-left {
  flex-shrink: 0;
  width: 80px;
  text-align: right;
  margin-right: 20px;
}

.pillar-right {
  width:max-content;
  text-align: left;
}

.copy {
  width: 26px;
  height: 26px;
  cursor: pointer;
  padding: 5px 5px;
  margin-right: 8px;
  margin-top: 6px;
  border-radius: 4px;
  background-color: #3679f5;
  color: white;
  font-size: 18px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.copy:active {
  background-color: #1f4e9d;
}

#footer {
  margin-top:8px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  font-size:18px;
  color: grey;
  align-items:center;
  margin-bottom:30px;
}

#footer-left {
  display:flex;
  flex-direction:row;
  align-items:center;
}

#creators-container {
  display:flex;
  flex-direction:row;
  align-items:center;
  margin:0 10px;
}

#creators-container span {
  display: flex;
  align-items: center;
  padding:4px;
  height:1.4em;
  margin: 0 6px;
  background-color: #f7f7f7;
  border-radius:4px;
}

#creators-container a {
  display:inline-block;
  width:28px;
  position:relative;
  top:2px;
  margin:0 5px;
}

#footer-right {
  
}

.funny-text {
  font-family:Merriweather, serif;
  color:#575757;
}
